.poki-card {
  border-radius: 25px;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.poki-card > img {
  max-width: 100%;
  object-fit: contain;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.poki-card > img:hover {
  transform: scale(0.9);
}
.poki-card > h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.cards-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 15px;
}
